<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<title>Docker Cheat Sheet by Jens Piegsa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css"	media="screen">
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' >
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cousine:400,700">
<link rel="stylesheet" type="text/css" href="stylesheets/tocbot.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="javascripts/classie.js"></script>
</head>

<body>

	<header class="page-header">
		<div class="container clearfix">
			<h1 class="project-name">Docker Cheat Sheet</h1>
			<h2 class="project-tagline">Find, Copy and Paste, Anywhere.</h2>
		</div>
	</header>

	<section class="max-width--large anchor--middle">
	
		<nav class="js-toc is-position-fixed"></nav>
		
		<div class="left-margin"></div>
		
		<main class="main-content content js-toc-content soft-double">
	
			<article>
			
				{{content}}
			
				<footer class="article-footer">
					<div class="article-footer-author">
						<div>This Docker Cheat Sheet is maintained by</div>
						<div><img src="https://secure.gravatar.com/avatar/9f3cfb54c29e543f1ba2a2319d027ad0.png?s=28" alt="Jens Piegsa" /></div>
						<div><a href="http://jens-piegsa.com">Jens Piegsa</a>.</div>
						<div id="last-modified"></div>
					</div>
				</footer>
			</article>
			
		</main>
		
		<div class="right-margin"></div>
	</section>

	<footer class="page-footer"></footer>

	<script src="javascripts/tocbot.min.js"></script>
	<script src="javascripts/single-page.js"></script>
</body>
</html>
